.detail_wrap {
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-button-row {
    float: right;
}